body {
  margin: 0 auto;
  color: var(--title-text-color);
  background-color: var(--background-color);
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: -0.015em;
}
body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3 {
  margin: 0 auto;
}

ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 520px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 15px 15px;
}
.section-title {
  margin-bottom: 24px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
}
.section-text {
  font-weight: 500;
  text-align: justify;
}

.logo {
  display: block;
  height: 30px;
  margin-right: 20px;
  background-color: aqua;
}

.page-header {
  outline: 1px solid #000000;
  border-bottom: 1px solid #000000;
  background-color: rgb(240, 240, 240);
  width: 100%;
}
@media screen and (max-width: 768px) {
  .page-header {
    position: relative;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    position: fixed;
    top: 0;
    left: 0;
  }
}

.main-page {
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .main-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 20%;
    right: 0;
    width: 80%;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgba(240, 240, 240, 0.95);
    text-align: center;
    z-index: 1;
  }
  .main-nav.is-open {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: rgba(240, 240, 240, 0.8);
  }
  .menu-button .icon-cross {
    display: block;
  }
  .menu-button .icon-menu {
    display: none;
  }
  .menu-button.is-open .icon-menu {
    display: block;
  }
  .menu-button.is-open .icon-cross {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button:hover svg,
.menu-button:focus svg {
  outline: none;
  fill: #1d30bf;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: inline-block;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .item {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .item:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .item:not(:last-child) {
    margin-right: 50px;
  }
}

.link {
  display: block;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: background-color 2000ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 768px) {
  .link {
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}
@media screen and (min-width: 768px) {
  .link {
    font-size: 14px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.link.current {
  position: relative;
  display: block;
  color: #1d30bf;
}
.link.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #1d30bf;
}

/* .site-nav */
@media screen and (max-width: 1199px) {
  .button {
    border-radius: 5px;
    padding: 11px 34px;
    min-width: 130px;
    height: 50px;
    border: 3px solid #1d30bf;
    color: rgba(0, 0, 0, 0.8);
    background-color: #ffffff;
    font-family: inherit;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.2;
  }
  .button:hover, .button:focus {
    color: #ffffff;
    background-color: #1d30bf;
    border: 3px solid transparent;
  }
}
@media screen and (min-width: 1200px) {
  .button {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .button-header {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .button-header {
    border-radius: 5px;
    padding: 11px 34px;
    min-width: 130px;
    height: 50px;
    border: 3px solid #1d30bf;
    color: rgba(0, 0, 0, 0.8);
    background-color: #ffffff;
    font-family: inherit;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.2;
  }
  .button-header:hover, .button-header:focus {
    color: #ffffff;
    background-color: #1d30bf;
    border: 3px solid transparent;
  }
}

.hero {
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.8);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .hero {
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Romania.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Romania.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/Romania.jpg);
  }
}

.hero-Bulgary {
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.8);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .hero-Bulgary {
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../../images/20.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-Bulgary {
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../../images/20.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-Bulgary {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../../images/20.jpg);
  }
}

.hero-Moldova {
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.8);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .hero-Moldova {
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../../images/Moldova-1.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-Moldova {
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../../images/Moldova-1.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-Moldova {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../../images/Moldova-1.jpg);
  }
}

.hero-Romania {
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.8);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .hero-Romania {
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../../images/best-of-romania-in-11-days-4-e1593848114300.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero-Romania {
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../../images/best-of-romania-in-11-days-4-e1593848114300.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero-Romania {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../../images/best-of-romania-in-11-days-4-e1593848114300.jpg);
  }
}

@media screen and (max-width: 768px) {
  .hero-box {
    max-width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .hero-box {
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-box {
    max-width: 696px;
  }
}

.hero-title {
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .hero-title {
    font-size: 26px;
    line-height: 1.61;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.page-title {
  text-align: center;
  line-height: 1.43;
  color: rgba(0, 0, 0, 0.8);
}
@media screen and (max-width: 768px) {
  .page-title {
    margin-bottom: 15px;
    padding-top: 15px;
    font-size: 36px;
  }
}
@media screen and (min-width: 768px) {
  .page-title {
    margin-bottom: 50px;
    padding-top: 50px;
    font-weight: 500;
    font-size: 56px;
  }
}

@media screen and (min-width: 768px) {
  .adv-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200PX) {
  .adv-list {
    padding: 5px;
    margin: -15px;
  }
}

.adv-item {
  text-align: center;
}
.adv-item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .adv-item {
    margin: 15px;
    flex-basis: calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .adv-item {
    flex-wrap: nowrap;
    margin: 15px;
    width: calc(20% - 30px);
  }
}

@media screen and (max-width: 1200px) {
  .adv-pic {
    max-width: 250px;
    height: 160px;
  }
}
@media screen and (min-width: 1200px) {
  .adv-pic {
    max-width: 200px;
    height: 130px;
  }
}

.adv-headline {
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.18;
  text-align: center;
}

.adv-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.citizenship-wrap,
.invest-wrap {
  display: flex;
}

@media screen and (max-width: 1200px) {
  .citizenship-pic {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .citizenship-pic {
    display: block;
    width: 500px;
    height: 350px;
    margin-right: 20px;
  }
}

.citizenship-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.citizenship-desc {
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 1.18;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .citizenship-desc {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .citizenship-text {
    font-weight: 400;
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .citizenship-text {
    font-weight: 400;
    font-size: 18px;
  }
}

.page-text {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .page-text {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .invest-text {
    font-weight: 400;
    font-size: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .invest-text {
    font-weight: 400;
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .invest-pic {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .invest-pic {
    margin-left: 10px;
    width: 350px;
    height: 250px;
  }
}
@media screen and (min-width: 1200px) {
  .invest-pic {
    margin-left: 25px;
    width: 700px;
  }
}

.work {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .pic {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .pic {
    display: none;
    /* padding-top: auto;
    padding-bottom: auto; */
  }
}
@media screen and (min-width: 1200px) {
  .pic {
    display: block;
    width: 30%;
    height: 450px;
    /* padding-top: auto;
    padding-bottom: auto; */
  }
}

.description-wrap {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .description-list li {
    min-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .description-list li {
    min-width: 100%;
  }
}

.accordion {
  display: flex;
  justify-content: space-between;
  background-color: rgb(240, 240, 240);
  color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border: none;
  outline: none;
  transition: 0.4s;
  font-weight: 400;
  text-align: start;
}
@media screen and (max-width: 480px) {
  .accordion {
    padding: 18px;
    width: 250px;
  }
}
@media screen and (min-width: 480px) {
  .accordion {
    padding: 18px;
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .accordion {
    padding: 18px;
    width: 500px;
  }
}
.accordion:not(:last-child) {
  margin-bottom: 10px;
}
.accordion .active, .accordion:hover, .accordion:focus {
  background-color: #cccccc;
}

.accordion-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.accordion-icon:hover, .accordion-icon:focus {
  fill: #ffffff;
}

.box {
  background-color: #ffffff;
  display: none;
  overflow: hidden;
}
@media screen and (max-width: 480px) {
  .box {
    max-width: 250px;
    padding: 10px;
  }
}
@media screen and (min-width: 480px) {
  .box {
    width: 450px;
    padding: 10px;
  }
}
@media screen and (min-width: 768px) {
  .box {
    width: 500px;
    padding: 18px;
  }
}

.box p {
  margin: 0 auto;
}/*# sourceMappingURL=secondaryPages.css.map */