.accordion {
    display: flex;
    justify-content:space-between;
    background-color: $background-section-color;
    color: $title-text-color;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s;
    font-weight: 400;
    text-align: start;

    @media screen and (max-width: 480px) {
        padding: 18px;
        width: 250px;
    }

    @media screen and (min-width: 480px) {
        padding: 18px;
        width: 450px;
    }

    @media screen and (min-width: 768px) {
        padding: 18px;
        width: 500px;
    }

    &:not(:last-child) {
        margin-bottom: 10px;
    }

    .active, 
    &:hover,
    &:focus {
    background-color: $background-accordion-hover-color;
    }
}

.accordion-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;

    &:hover,
    &:focus {
    fill: $background-color;
    }
}

.box {
    background-color: $background-color;
    display: none;
    overflow: hidden;

    @media screen and (max-width: 480px) {
        max-width: 250px;
        padding: 10px;
    }

    @media screen and (min-width: 480px) {
        width: 450px;
        padding: 10px;
    }

    @media screen and (min-width: 768px) {
        width: 500px;
        padding: 18px;

    }
}

.box p {
    margin: 0;
}