// .hero {
//     height: 800px;
//     max-width: 1600px;
//     margin-bottom: 50px;
//     background-image: linear-gradient(
//         to right, 
//         $firsf-linear-gradient,
//         $second-linear-gradient
//         ),
//         url(../images/Romania.jpg);
//     background-position: center;
//     background-size: cover;
//     text-align: center;
//     background-color: $title-text-color;

//     &-title {
//         margin-bottom: 100px;
//         padding-top: 350px;
    
//         color: $background-color;
    
//         font-weight: 500;
//         font-size: 56px;
//         line-height: 1.43;
//     }
// }

.hero {
    display: flex;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    background-color: $background-header-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    // @media screen and (max-width: 480px) {  
    //     height: 400px;
    //     background-image: linear-gradient(
    //         to right,
    //       rgba(47, 48, 58, 0.8),
    //       rgba(47, 48, 58, 0.8)),
    //     url(../images/Romania.jpg);  
        
    //     // @media (min-resolution: 2dppx) {
    //     //     background-image: url(../imeges/Header-Mob@2x.jpg);
    //     // }
    // }

    @media screen and (max-width: 768px) {
        height: 400px;
        background-image: linear-gradient(
            to right,
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)),
        url(../images/Romania.jpg);  
        
        // @media (min-resolution: 2dppx) {
        //     background-image: url(../imeges/Header-Tab@2x.jpg);
        // }
    }

    @media screen and (min-width: 768px) {
        height: 400px;
        background-image: linear-gradient(
            to right,
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)),
        url(../images/Romania.jpg);
        
        // @media (min-resolution: 2dppx) {
        //     background-image: url(../imeges/Header-Desk@2x.jpg);
        // }
    }

    @media screen and (min-width: 1200px) {
        max-width: 1600px;
        height: 600px;
        background-image: linear-gradient(
            to right,
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)),
        url(../images/Romania.jpg);
        
        // @media (min-resolution: 2dppx) {
        //     background-image: url(../imeges/Header-Desk@2x.jpg);
        // }
    }
}

.hero-Bulgary {
    display: flex;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    background-color: $background-header-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (max-width: 768px) {
        height: 400px;
        background-image: linear-gradient(
            to right,
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)),
        url(../../images/20.jpg);  
    }

    @media screen and (min-width: 768px) {
        height: 400px;
        background-image: linear-gradient(
            to right,
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)),
        url(../../images/20.jpg);
    }

    @media screen and (min-width: 1200px) {
        max-width: 1600px;
        height: 600px;
        background-image: linear-gradient(
            to right,
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)),
        url(../../images/20.jpg);
    }
}

.hero-Moldova {
    display: flex;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    background-color: $background-header-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (max-width: 768px) {
        height: 400px;
        background-image: linear-gradient(
            to right,
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)),
          url(../../images/Moldova-1.jpg);
        }

    @media screen and (min-width: 768px) {
        height: 400px;
        background-image: linear-gradient(
            to right,
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)),
          url(../../images/Moldova-1.jpg);
        }

    @media screen and (min-width: 1200px) {
        max-width: 1600px;
        height: 600px;
        background-image: linear-gradient(
            to right,
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)),
        url(../../images/Moldova-1.jpg);
    }
}

.hero-Romania {
    display: flex;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    background-color: $background-header-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (max-width: 768px) {
        height: 400px;
        background-image: linear-gradient(
            to right,
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)),
          url(../../images/best-of-romania-in-11-days-4-e1593848114300.jpg);
        }

    @media screen and (min-width: 768px) {
        height: 400px;
        background-image: linear-gradient(
            to right,
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)),
          url(../../images/best-of-romania-in-11-days-4-e1593848114300.jpg);
        }

    @media screen and (min-width: 1200px) {
        max-width: 1600px;
        height: 600px;
        background-image: linear-gradient(
            to right,
          rgba(47, 48, 58, 0.8),
          rgba(47, 48, 58, 0.8)),
          url(../../images/best-of-romania-in-11-days-4-e1593848114300.jpg);
    }
}

.hero-box {
    @media screen and (max-width: 768px) {
        max-width: 360px;        
    }
    
    @media screen and (min-width: 768px) {
        max-width: 360px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 696px;
    }
}

.hero-title {
    margin-bottom: 30px;

    color: $background-color;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;

    @media screen and (max-width: 1200px) {
        font-size: 26px;
        line-height: 1.61;       
    }

    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
    }
}