.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $backdrop-background-color;

    @media screen and (max-width: 768px) {
        padding: 30px 15px;
        overflow-y: scroll;
    }

    @media screen and (min-width: 768px) {
        padding: 93px 15px;
    }
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    transition: transform 250ms $transition-timing-function;
    max-width: 450px;
    max-height: 550px;
    // width: 100%; 
    padding: 40px 40px;

    background-color: $background-color;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

    @media screen and (max-width: 768px) {
        position: relative;
        margin: auto;
    }

    @media screen and (min-width: 768px) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @media screen and (min-width: 1200px) {
        max-width: 528px;
        min-height: 581px;
    }
}

.icon-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    outline: none;
    // border: 1px solid rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 50%;
    background-color: $background-color;
    background-size: contain;

    &:hover svg,
    &:focus svg {
    fill: $accent-text-color;
    border-color: $accent-text-color;
    }
}

.form-title {
    display: flex;
    justify-content: center;

    font-size: 20px;
    line-height: 0.86px;
    // line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color;

    @media screen and (max-width: 768px) {
        margin-bottom: 10px;   
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 20px;   
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 30px;   
    }
}

.form-text {
    font-size: 15px;
    text-align: center;
}

.form-field {
    position: relative;
    margin-bottom: 15px;
}

.form-input {
    width: 100%;
    margin: 0;
    padding: 12px 18px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    &:focus + .form-label,
    &:not(:placeholder-shown) + .form-label {
        color: $accent-text-color;
        transform: translateY(-45px) translateX(-16px);
        background-color: transparent;
    }
}

.form-field input:hover,
.form-field input:focus {
    outline: none;
    border-color: $accent-text-color;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);

    &:focus-within {
        color: $accent-text-color;

    }
}

.form-label {
    position: absolute;
    top: 50%;
    left: 42px;
    transform: translateY(-50%);
    // line-height: 1.14px;
    color: $primary-text-color;
    font-size: 15px;
    // letter-spacing: 0.01em;

    transition: transform 250ms;
}

.icon-modal {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    display: inline-block;
    width: 18px;
    height: 18px;
    color: $title-text-color;
}

.form-field:focus-within > .icon-modal {
    fill: $accent-text-color;
}


.checkblock {
    display: flex;
    align-items: center;

    margin-bottom: 10px;
}

.checkbox {
    position: absolute;
    display: flex;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;

    &-label::before {
        display: inline-block;
        width: 16px;
        height: 15px;
        margin-right: 7px;
        flex-shrink: 0;
        content: "";
        background-image: url(../../images/check.svg);
        border: 2px solid $title-text-color;
        border-radius: 1px;
    }

    &:checked + &-label::before {
        background-color: #2196F3;
        background-size: contain;
        background-origin: border-box;
        border-color: $accent-text-color;
    }
}

.checkbox-label {
    display: inline-flex;
    align-items: center;
    letter-spacing: 0.03em;

    @media screen and (max-width: 1199px) {
        font-size: 15px;
        line-height: 1.16;
    }

    @media screen and (min-width: 1200px) {        
        margin-left: 8px;
    }

    & a {
        margin-left: 3px;
        color: $accent-text-color;
        text-decoration-line: underline;

        @media screen and (max-width: 1199px) {
            font-size: 12px;
            line-height: 1.16;
        }
    }
}

.form-headline {
    font-size: 16px;
}

// .button-submit {
//     display: block;
//     min-width: 200px;
//     border-radius: 4px;

//     margin-left: auto;
//     margin-right: auto;
//     padding: 10px 55px;
//     border: 1px solid transparent;
//     outline: none;

//     background-color: $background-color;
//     color: $primary-text-color;
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.87;
//     letter-spacing: 0.06em;
// }

// .modal {
//     transition: transform 250ms $transition-timing-function;

//     width: 100%; 
//     padding: 40px 40px;

//     // background-color: $primary-white-color;
//     box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
//     border-radius: 4px;

//     @media screen and (max-width: 767px) {
//         position: relative;
//         margin: auto;
//         max-width: 450px;
//         width: 100%;
//         min-height: 609px;
//     }

//     @media screen and (min-width: 768px) {
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         max-width: 450px;
//         min-height: 609px;
//         transform: translate(-50%, -50%);
//     }

//     @media screen and (min-width: 1200px) {
//         max-width: 528px;
//         min-height: 581px;
//     }
// }

// .close-popup {
//     position: absolute;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     // top: 8px;
//     // right: 58px;
//     width: 30px;
//     height: 30px;
//     outline: none;
//     border: 1px solid rgba(0, 0, 0, 0.1);
//     border-radius: 50%;
//     background-color: $primary-white-color;
//     background-size: contain;

//     &:hover svg,
//     &:focus svg {
//     fill: $accent-color;
//     border-color: $accent-color;
//     }
// }

// .modal-title {
//     display: flex;
//     justify-content: center;

//     margin-bottom: 30px;

//     font-size: 20px;
//     line-height: 0.86px;
//     letter-spacing: 0.03em;
//     color: $title-text-color;

//     @media screen and (max-width: 1199px) {
//         line-height: 1.5;
//         text-align: center;
//     }
// }

// .form-field {
//     position: relative;
//     margin-bottom: 28px;
// }

// .form-input {
//     width: 100%;
//     margin: 0;
//     padding: 12px 18px;
//     padding-left: 42px;
//     border: 1px solid rgba(33, 33, 33, 0.2);
//     border-radius: 4px;

//     &:focus + .form-label,
//     &:not(:placeholder-shown) + .form-label {
//         color: $accent-color;
//         transform: translateY(-30px) translateX(-26px);
//     }
// }

// .form-field input:hover,
// .form-field input:focus {
//     outline: none;
//     border-color: $accent-color;
//     box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);

//     &:focus-within {
//         color: $accent-color;
//     }
// }

// .form-label {
//     position: absolute;
//     top: 50%;
//     left: 42px;
//     transform: translateY(-50%);
//     line-height: 1.14px;
//     color: $primary-text-color;
//     letter-spacing: 0.01em;

//     transition: transform 250ms;
// }

// .icon-modal {
//     position: absolute;
//     top: 50%;
//     left: 16px;
//     transform: translateY(-50%);
//     display: inline-block;
//     width: 18px;
//     height: 18px;
//     color: $title-text-color;
// }

// .form-field:focus-within > .icon-modal {
//     fill: $accent-color;
// }

// .textarea-field {
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     margin-bottom: 20px;

//     transition: transform 250ms linear;

//     & textarea:hover,
//     & textarea:focus {
//     outline: none;
//     border-color: $accent-color;
//     box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
// }
// }

// .form-textarea {
//     resize: none;
//     width: /*448px*/ 100%;
//     max-height: 120px;
//     padding: 12px 16px;
//     border: 1px solid rgba(33, 33, 33, 0.2);
//     border-radius: 4px;

//     &:focus + .label-textarea,
//     &:not(:placeholder-shown) + .label-textarea {
//         color: $accent-color;
//         transform: translateY(-30px);
//     }
// }

// .label-textarea {
//     position: absolute;
//     top: 20px;
//     left: 16px;
//     transform: translateY(-50%);
//     line-height: 1.14px;
//     color: $primary-text-color;
//     letter-spacing: 0.01em;
//     transition: transform 250ms;
// }

// .agree {
//     display: flex;
//     align-items: center;

//     margin-bottom: 30px;
// }

// .checkbox {
//     /*-webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
//     position: absolute;*/

//     position: absolute;
//     display: flex;
//     width: 1px;
//     height: 1px;
//     margin: -1px;
//     border: 0;
//     padding: 0;
//     clip: rect(0 0 0 0);
//     overflow: hidden;

//     &-label::before {
//         display: inline-block;
//         width: 16px;
//         height: 15px;
//         margin-right: 7px;
//         flex-shrink: 0;
//         content: "";
//         background-image: url(../images/check.svg);
//         border: 2px solid $title-text-color;
//         border-radius: 1px;
//     }

//     &:checked + &-label::before {
//         background-color: #2196F3;
//         background-size: contain;
//         background-origin: border-box;
//         border-color: $accent-color;
//     }
// }

// .checkbox-label {
//     display: inline-flex;
//     align-items: center;
//     letter-spacing: 0.03em;

//     @media screen and (max-width: 1199px) {
//         font-size: 12px;
//         line-height: 1.16;
//     }

//     @media screen and (min-width: 1200px) {
        
//         margin-left: 8px;
//     }

//     & a {
//         margin-left: 3px;
//         color: $accent-color;
//         text-decoration-line: underline;

//         @media screen and (max-width: 1199px) {
//             font-size: 12px;
//             line-height: 1.16;
//         }
//     }
// }

// .button-submit {
//     display: block;
//     min-width: 200px;
//     border-radius: 4px;

//     margin-left: auto;
//     margin-right: auto;
//     padding: 10px 55px;
//     border: 1px solid transparent;
//     outline: none;

//     background-color: $button-modal-color;
//     color: $primary-white-color;
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.87;
//     letter-spacing: 0.06em;
// }