%link {
    display: block;
    padding-top: 25px;
    padding-bottom: 25px;
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;

    text-decoration: none;
}