$primary-text-color: #000000;
$title-text-color: rgba(0, 0, 0, 0.8);
$accent-text-color: #1d30bf;
$background-color: #ffffff;
$background-section-color: rgb(240, 240, 240);
$background-accordion-hover-color: #cccccc;
$background-header-color: rgba(240, 240, 240, 0.8);
$background-menu-color: rgba(240, 240, 240, 0.95);
$firsf-linear-gradient: rgba(0, 0, 0, 0.5);
$second-linear-gradient: rgba(70, 67, 67, 0.8);
$backdrop-background-color: rgba(0, 0, 0, 0.2);
$checkbox-label-background-color: #2196F3;
$font-text: 'Roboto', sans-serif;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);